
html {
  height: 100%;
  text-align: right;
  width: relative;
  position: relative;
  font-family: 'Arimo'
  }
body {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-right: 0;
  margin-right: 0;
  text-align: right;
  color: white;
  background-image: url('The_Power_of_Music_by_William_Sidney_Mount,_1847,.jpg');
  background-size: 60rem;
  background-position-x: right;
  background-repeat: no-repeat;
  }
  .navbar {
    align-self: flex-start;
    direction: rtl;
  }
  .page-container {
    direction: rtl;
    display:flex;
    flex-flow: row;
    align-items: flex-start;
  }
form {
  width: 60rem;
align-items: flex-start;
text-align: right;
}

h1,p {
  width:50rem;
  margin-right: 5rem;
  margin-top: 7rem;
  color: white;
  text-shadow: 0.1rem 0.1rem grey;
  background-color: grey;
  backface-visibility: 40%;
    }
img.menu-button {
justify-content: flex-start;
  width:25.3rem;
  margin-top: -3.55rem;

  }
img.menu-button:hover {
  transform: scale(1.1);
  transition: all 2s ease-in-out;
  }
.mc_embed_signup {
    text-align: right;
  }
  #mc-embedded-subscribe {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  }
